.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}

.subform {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;


}

.email {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;



}

.pass {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}



.input {
    padding-top: 20px;
}

.image {
    padding-top: 20px;
    display: block;
    margin: 0 auto;



}

.submit {
    padding-top: 15px;
    text-align: center;




}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

.content {
    margin-left: 105px;
}

.content p {
    font-size: 30px;
    color: #555;
}